<launch>
<node name="global_network_node" pkg="dt_global_network_client" type="dt_global_network_client_node" output="screen">
    <param name="product_key" value="h7zmo4JvXUW" />
    <param name="device_name" value="PhysicalUAV1" />
    <param name="device_secret" value="e2c9e07f96d7ab4d91ebbb2582a76fcc"/>
    <param name="iot_pub_topic" value="/h7zmo4JvXUW/PhysicalUAV1/user/PhysicalUAV1_Pub"/>
    <param name="iot_sub_topic" value="/h7zmo4JvXUW/PhysicalUAV1/user/PhysicalUAV1_Sub"/>
    <param name="ros_sub_topic" value="/R_UAV_1/Message_to_Cloud"/>
    <param name="ros_pub_topic" value="/R_UAV_1/Message_from_Cloud"/>
    <param name="ros_iot_state_pub_topic" value="/R_UAV_1/Cloud_State"/>
    <param name="object_name" value="R_UAV_1"/>
    <param name="is_close_infor" value="false"/>
  </node>

<node name="packing_and_unpacking_node" pkg="dtvr_message_packing_unpacking" type="dtvr_message_packing_unpacking_node" output="screen">
                                         <!--packing-->
      <param name="SourceID" value="1"/>
      <param name="TargetID" value="101"/>
      <param name="DtObjectID" value="101"/>
      <param name="CloudMessagePubTopic" value="/R_UAV_1/Message_to_Cloud"/>
      <param name="GlobalPositionMessageSubTopic" value="/mavros/global_position/global"/>
      <param name="LocalPositionMessageSubTopic" value="/mavros/local_position/pose"/>
      <param name="LocalVelocityMessageSubTopic" value="/mavros/local_position/velocity"/>
      <param name="UavStateMessageSubTopic" value="/mavros/state"/>
      <param name="BatteryMessageSubTopic" value="/mavros/battery"/>
      <param name="MessagePubFrequency" value="10"/>

                                         <!--unpacking-->
      <param name="CloudMessageSubTopic" value="/R_UAV_1/Message_from_Cloud"/>
      <param name="TargetVelocityMessagePubTopic" value="/R_UAV_1/Target/Velocity"/>
      <param name="TargetPositionMessagePubTopic" value="/R_UAV_1/Target/Position"/>
      <param name="ArmCommandMessagePubTopic" value="/R_UAV_1/Set/Arm"/>
      <param name="TargetFModeMessagePubTopic" value="/R_UAV_1/Set/FMode"/>
      <param name="VRControlMessagePubTopic" value="/R_UAV_1/VR/Control"/>
      <param name="ComputerCmdMessagePubTopic" value="/R_UAV_1/Computer/Cmd"/>
      <param name="ApplyCameraMessagePubTopic" value="/R_UAV_1/Apply/Camera"/>
</node>

<node name="px4_control_wrapper" pkg="px4_control_wrapper" type="px4_control_wrapper" output="screen">
      <param name="px4_ref_vel_msg_pub_topic" value="/mavros/setpoint_velocity/cmd_vel_unstamped"/>        <!--The Target Velocity Message to PX4-->
      <param name="tgt_vel_msg_sub_topic" value="/R_UAV_1/Target/Velocity"/>                               <!--The Target Velocity from Other Controller-->
      <param name="px4_ref_pos_msg_pub_topic" value="/mavros/setpoint_position/pose"/>
      <param name="tgt_pos_msg_sub_topic" value="/R_UAV_1/Target/Position"/>
      <param name="px4_rc_msg_sub_topic" value="/mavros/rc/in"/>                                           <!--The RC Information from PX4-->
      <param name="run_frequen_hz" value="20.0"/>                                                          <!--The Frequen of Target Velocity Message To PX4-->
      <param name="rc_start_ch" value="5"/>                                                                <!--The RC Channel of Start Vehicle-->
      <param name="rc_land_ch" value="6"/>                                                                 <!--The RC Channel of Land Vehicle-->
      <param name="control_mode" value="0"/>         <!-- 0:position control  1:velocity control-->
      <param name="is_check_data_valid" value="false"/>
      <param name="data_valid_sub_topic" value="/uav0/data/valid"/>
      <param name="is_rc_control" value="true"/>     <!--the offboard mode is enter by using rc remote control-->
      <param name="is_local_pos" value="false"/>     <!--the position of take off is (0,0,0)-->
      <param name="is_set_rotation" value="false"/>  <!--if change the rotation in position mode-->
      <param name="uav_pos_sub_topic" value="/mavros/local_position/pose"/>
      <param name="uav_local_pos_pub_topic" value="/uav/local_position/local_pose"/>
      <param name="vr_control_sub_topic" value="/R_UAV_1/VR/Control"/>
      <param name="arm_msg_sub_topic" value="/R_UAV_1/Set/Arm"/>
      <param name="fligth_mode_msg_sub_topic" value="/R_UAV_1/Set/FMode"/>
      <param name="px4_state_msg_sub_topic" value="/mavros/state"/>                                        <!--The State of PX4-->
      <param name="px4_arming_client_topic" value="/mavros/cmd/arming"/>                                   <!--The Arm to PX4-->
      <param name="px4_set_mode_client_topic" value="/mavros/set_mode"/>
</node>
<!--
<node pkg = "video_transmission" type="video_transmission" name="video_transmission" output="screen">
    <rosparam file="$(find video_transmission)/cfg/param.yaml" command="load"/>
</node>
-->
<!--
<include file="$(find mavros)/launch/px4.launch">
</include>
-->
</launch>
